<!DOCTYPE HTML>
<html lang='pt'>
<head>
    <title>The Gist</title>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h2>Try Gist</h4>
                    <br>
                <form role="form" method='post' action='/'>
                    <div class='form-group'>
                        <input type="text" name="url" class="form-control" id="url-box" placeholder="Link to be summarized" style='max-width:300px;' autofocus required>
                    </div>
                    <button type="submit" class='btn btn-default'>Gist it</button>
                </form>
            <br>
            {% if status %}
                <h4> No possible to Gist it. Try again! ;-)</h4>
            {% endif %}
            <br>
                <h4>Currently Gist supports 12 languages: English, Portuguese, Spanish, Italian, French, German, Danish, Finnish, Dutch, Norwegian, Swedish and Turkish</h4>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            {% if summary %}
                <h3>{{ title }}</h3>
                <br>
                {{ summary }}
                <br>
            {% endif %}
        </div>
</div>
</div>
<br>
</body>
</html>
